In [1]:
>>> import vectorbt as vbt
>>> import numpy as np
>>> import pandas as pd
>>> from numba import njit
>>> from datetime import datetime

>>> df = pd.DataFrame({
...     'a': [1, 2, 3, 4, 5],
...     'b': [5, 4, 3, 2, 1],
...     'c': [1, 2, 3, 2, 1]
... }, index=pd.Index([
...     datetime(2020, 1, 1),
...     datetime(2020, 1, 2),
...     datetime(2020, 1, 3),
...     datetime(2020, 1, 4),
...     datetime(2020, 1, 5)
... ]))
>>> df

            a  b  c
2020-01-01  1  5  1
2020-01-02  2  4  2
2020-01-03  3  3  3
2020-01-04  4  2  2
2020-01-05  5  1  1

In [5]:
>>> mean_nb = njit(lambda col, a: np.nanmean(a))
>>> print(df.vbt.reduce_grouped(mean_nb, group_by=np.array([0, 0, 1])))

>>> mean_nb = njit(lambda i, col, a: np.nanmean(a))
>>> print(df.vbt.reduce_grouped(mean_nb, group_by=np.array([0, 0, 1]), row_wise=True))

0    3.0
1    1.8
dtype: float64
     0    1
0  3.0  1.0
1  3.0  2.0
2  3.0  3.0
3  3.0  2.0
4  3.0  1.0

In [ ]:
#    Cash: 400$, shares: 0
# 1. Buy 10 shares for 400$
#    Cash: 0$, shares: 10
# 2. New price is 60$ per share - sell 10 shares for 600$
#    Cash: 600$, shares: 0
#    Holding value: 60$ * 10 = 600$

In [ ]:
#    Cash: 0$, shares: 0
# 1. Borrowed 10 shares and sold them immediately for 40$ per share - received 400$
#    Cash: 400$, shares: -10
# 2. New price is 20$ per share - can buy 20 shares, but instead buy and return 10 shares and keep 200$
#    Cash: 200$, shares: 0
#    Holding value: (2 * 40$ - 20$) * 10 = 600$ = 400$ + 200$

In [ ]:
#

In [5]:
size = 10
entry_price = 40
exit_price = 20
direction = 'short'

if direction == 'long':
    pnl = (exit_price - entry_price) * size
else:
    pnl = -(exit_price - entry_price) * size
pnl

200